<!DOCTYPE HTML>
<html lang="en" class="login_page">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>登录</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/icons.css"/>
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>
</head>
<body>

<div id="login_wrapper">
    <div id="login_content">
        <div class="logon-text">数据分析系统</div>
        <div class="login_box">
            <div  id="login_form">
                <div class="top_b"><img src="/images/logo-login.png"/></div>
                <div class="alert alert-error alert-login" style="display:none"></div>
                <div class="cnt_b">
                    <div class="formRow">
                        <div class="input-prepend">
                            <span class="add-on cell_left">1</span>
                            <input type="text" id="login_account" name="account" validator="notNullOrEmpty" removeDefaultRules="removeDefaultRules" placeholder="手机或邮箱"  errorTipsKey="用户名" />
                        </div>
                    </div>
                    <div class="formRow mt10">
                        <div class="input-prepend">
                            <span class="add-on pass_left">1</span>
                            <input type="password" id="login_password" name="password" validator="notNullOrEmpty" placeholder="密码" errorTipsKey="密码"/>
                        </div>
                    </div>
                    <div class="formRow clearfix ver-middle mt10">
                        <label class="checkbox"><input type="checkbox" class="J_password_remember"/> 记住我</label>
                    </div>
                </div>
                <p class="go-register">没有账号？<a href="/register">点击注册</a></p>
                <div class="btm_b clearfix">
                    <button class="pull-right login-btn" id="J_login" type="submit">登录</button>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="/lib/config.js"></script>
<script src="/lib/require/require.js"></script>
<script type="text/javascript">
    require(["login"], function(xy_login){
        xy_login.ready();
    })
</script>
</body>
</html>
