body{
    font-family: "Microsoft YaHei UI";
    background: #f0f0f2;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.f12{
    font-size: 12px;
}
.clearfix:after{content: "\0020"; display: block; height: 0;clear: both; visibility: hidden; }
.clearfix{zoom: 1;}
.ver-middle *{
    vertical-align: middle;
}
.cr9{
    color: #999999;
}
.cr6{
    color: #666666;
}
button{
    font-family: "Microsoft YaHei UI";
    padding: 0;
    cursor: pointer;
}
.button1,.select-warp .button1{
    font-size: 18px;
    color:#2a77d3 !important;
    border:none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}
.button2,.select-warp .button2{
    border:1px solid #2b76d1;
    background: transparent;
    color:#2b76d1;
    border-radius: 5px;
    width: 80px;
    height: 33px;
    line-height: 33px;
    cursor: pointer;
}

.button3,.select-warp .button3{
    border:1px solid #2b76d1;
    background: #2b76d1;
    color:#ffffff;
    border-radius: 5px;
    width: 80px;
    height: 33px;
    line-height: 33px;
    cursor: pointer;
}
.button4,.select-warp .button4{
    border:1px solid #b5b5b5 !important;
    color:#666666;
    background: transparent;
    border-radius: 5px;
    padding:2px 10px;
    cursor: pointer;
}
#header{
    background: #2b76d1;
    height:65px;
    line-height: 65px;
    width: 100%;
}
#main_content{
    max-width: 1440px;
    min-width: 960px;
    margin: 0 auto;
    width: 80%;
}
.logo{
   width: 104px;
   height: 30px;
   margin:17px 20px 17px 20px;
}
.head-menu ul a{
    color:#ffffff;
    display: block;
}
.head-menu ul li{
    float: left;
    width: 90px;
    text-align: center;
}
.head-menu ul li.active{
    background:#1b559f ;
    border-bottom: 3px solid #5d9cec;
    height: 62px;
}
.operate-menu{
    margin-right: 20px;
}
.operate-menu ul li{
    float: left;
    margin-left: 12px;
}
.operate-menu ul i{
    color:#ffffff;
    font-size:16px;
}
.head-menu{
    max-width: 1440px;
    margin: 0 auto;
    width: 80%;
}
.userinfo{
    color:#ffffff;
}
.operate-menu ul .login_li{
    margin-left:4px;
}
.setting{
    padding: 6px 0 6px 22px;
    background: url("/images/icon.png") -145px -30px no-repeat;
    color: #ffffff;
}
.loginout{
    padding:  6px 0 6px 22px;
    background: url("/images/icon.png") -179px -30px no-repeat;
    color: #ffffff;
}

.charts-wrapper{
    padding-bottom: 50px;
}
.charts_desc_p{
    display: none;
}
.fixed-font{
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;

}
.fixed-button{
    width: 80px;
    padding: 0 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.fixed-button>.select-text::after{
    display: inline-block;
    content: " ";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #ccc;
    margin-left:5px ;
}
.select-text.change::after{
    border-top: 10px solid #ccc;
    border-bottom: 0;
}